
IDD_PRINTASC_DIALOG DIALOGEX 0, 0, 238, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Druckereinstellungen"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,175,35,55,12
    PUSHBUTTON      "Abbrechen",IDCANCEL,175,49,55,12
    GROUPBOX        "",-1,5,5,230,60
    LTEXT           "Drucker",-1,10,16,45,8
    LTEXT           "Status :",IDC_STATUS,10,31,45,8
    LTEXT           "Ort :",IDC_LOCATION,10,41,45,8
    LTEXT           "Kommentar :",IDC_COMMENT,10,51,45,8
    COMBOBOX        IDC_COMBO_PRINTER,60,14,110,51,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_STATUS_TEXT,60,31,110,8
    LTEXT           "",IDC_LOCATION_TEXT,60,41,110,8
    LTEXT           "",IDC_COMMENT_TEXT,60,51,110,8
    PUSHBUTTON      "Einstellungen...",IDC_SETUP,175,14,55,12
END
