
<!DOCTYPE html>
<head>
   <title>Drucker Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
   <h1>Drucker in der Werkstatt</h1>
   <table>
   <tr><th>Druckername</th><th>Befehl</th><th>Auschaltzeit</th></tr>
   {% for pin in pins %}
   <tr><td><h4>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      &nbsp;&nbsp;</h4></td><div class="row"><div class="col-md-2">
      <td><a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Ausschalten</a></td><td>{{ pins[pin].display_off }}</td></tr></div></div>
   {% else %}
      &nbsp;&nbsp;</h4></td><div class="row"><div class="col-md-2">
      <td><a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Einschalten</a></td><td></td></tr></div></div>
   {% endif %}
   <form action="/{{pin}}/off" id="update">
    <button type="submit">Off</button>
   </form>

   {% endfor %}
   </table>
   <form action="main.html" id="update">
    <button type="submit">Update</button>
   </form>

</body>
</html>

