ArduinoUnittestMenuDebug/
binaer_analog_uhr-Qt_5_6_0_Debug/
build-ArduinoUnittestFunctionGenerator-Desktop_Qt_5_6_0_GCC_64bit-Debug/
OctansSimulatorDebug/
OctansSimulatorQt_5_6_0_Debug/
Qt_5_6_0-Debug/
